.banner__btnFind {
  height: 45px;
  width: 24%;
  button {
    height: 100%;
    width: 100%;
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border-style: none;
    border-radius: 0px 3px 3px 0px;
    background: rgb(255, 197, 0);
    &:hover {
      color: rgb(72, 72, 72);
      background: rgb(248, 174, 0);
      cursor: pointer;
    }
  }
}
