.banner__layoutbtnReverse {
  width: 4%;
  .banner__btnReverse {
    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 43px;
      background-color: rgba($color: #000000, $alpha: 0.3);
      bottom: -8px;
      left: 15px;
      z-index: 1;
    }
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid 1px rgb(0, 122, 255);
    text-align: center;
    margin: 5px auto;
    position: relative;
    background-color: white;
    z-index: 10;
    i {
      font-size: 1.8rem;
      line-height: 3rem;
      color: rgb(0, 122, 255);
      z-index: 10;
    }
  }
}
