.header__hotline {
  .header__hotline--square {
    padding: 10px 5px;
    border: 1px solid rgba($color: #000000, $alpha: 0.6);
    i {
      font-size: 1.6rem;
      color: rgba($color: #000000, $alpha: 0.6);
      margin-right: 7px;
    }
    span {
      font-size: 1.6rem;
      &:hover {
        cursor: pointer;
        color: #1890ff;
      }
    }
  }
}
